h2{
    width: 25px;
    height: 30px;
border: 1px solid rgb(248, 99, 36);;
    background-color: rgb(248, 99, 36);
    padding-left: 10px;
    display: inline-block;
    margin: 5px;
    color: aliceblue;
}